<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="center">
    <div class="card">
        <span class="card-title">Sign in to your account</span>
        <form>
            <div class="mail-pwd">
                <label>Email</label>   
            </div>
            <div class="mail-pwd box">
                <input type="email" placeholder="example@gmail.com">
            </div>
            <div class="grid-50-50">
                <div class="mail-pwd-lbl">
                    <label>Password</label>   
                </div>
                <div class="reset-pass">
                    <a href="#">Forgot your password?</a>
                </div>
            </div >
            <div class="mail-pwd box">
                <input type="password" placeholder="Password">
            </div>
            <div class="stay-sign-in">
                <label for="checkbox">
                    <input type="checkbox" name="checkbox"> Stay signed in for a week
                  </label>
            </div>
            <div class="sign-in">
                <input type="button" value="Sign In">
            </div>
            <div class="sign-up-lal">
                <span>Sign Up by</span>
            </div>
            <div class="sign-up-social-btns">
                <table class="head-social-logo">
                    <tr>
                        <th>
                            <a href="#" class="fa fa-google"></a>
                        </th>
                        <th>
                            <a href="#" class="fa fa-facebook"></a>
                        </th>
                        <th>
                            <a href="#" class="fa fa-instagram"></a>
                        </th>
                        <th>
                            <a href="#" class="fa fa-twitter"></a>
                        </th>
                        <th>
                            <a href="#" class="fa fa-yahoo"></a>
                        </th> 
                    </tr>
                </table>  
            </div>
        </form>
    </div>
</div>
<router-outlet></router-outlet>
