<div class="center">
  <div class="card">
      <span class="card-title">Sign Up</span>
      <form [formGroup]="RegForm">
          <div class="mail-pwd">
              <label>Email</label>   
          </div>
          <div class="form-group">
              <div class="mail-pwd box">
                  <input class="form-control" formControlName="Email" placeholder="example@gmail.com" type="email">
                  <span class="txt-danger" *ngIf="RegForm.controls['Email'].touched && RegForm.controls['Email'].invalid">invalid</span>
              </div>
          </div >
          <div class="grid-50-50">
              <div class="mail-pwd-lbl">
                  <label>Password </label>   
              </div>
          </div>
          <div class="form-group">
              <div class="mail-pwd box">
                  <input class="form-control" formControlName="Password" type="password" placeholder="Password">
                  <span class="txt-danger" *ngIf="RegForm.controls['Password'].touched && RegForm.controls['Password'].invalid">invalid</span>
              </div>
          </div>
          <div class="grid-50-50">
            <div class="mail-pwd-lbl">
                <label>Confirm Password</label>   
            </div>
        </div>
        <div class="form-group">
            <div class="mail-pwd box">
                <input class="form-control" formControlName="confirmPassword" type="password" placeholder="Confirm Password">
                <span class="txt-danger" *ngIf="RegForm.controls['confirmPassword'].touched && RegForm.controls['confirmPassword'].invalid">invalid</span>
                <span class="txt-danger" *ngIf="RegForm.controls['confirmPassword'].errors?.['pattern']">Password must contain at least 8 charecter</span>
            </div>
        </div>
        <div class="sign-up">
              <input [disabled]="RegForm.invalid" (click)="SignUp()" type="submit" value="Sign Up">
        </div>
      </form>
  </div>
</div>